.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        = current_user.name
      %ul.side-header__box__menu
        =link_to "#", class: "side-header__box__menu__new-group" do
          = fa_icon 'edit'
          %span<>
        =link_to edit_user_path(current_user), class: "side-header__box__menu__edit-user" do
          = fa_icon 'cog'
  .groups
    .group
      %p.group__group-name ためし１
      %p.group__latest-message まだメッセージがありません
    .group
      %p.group__group-name ためし２
      %p.group__latest-message まだメッセージがありません
    .group
      %p.group__group-name ためし３
      %p.group__latest-message まだメッセージがありません